.container {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 24px;
  height: calc(100dvh - 140px);
  scrollbar-color: white #5e819ca9;
  scrollbar-width: thin;
}

.chat {
  flex-grow: 1;
  overflow-y: scroll;
  width: 100%;
}
